<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-5hEcn7kqVtYmDc6jHgT9LzRZ/JPDLwGm1V7KyK/fLh3YgDtMbXoKG/ZLQn7+QzZO1p1hDzsv26++/YVXpYxpwg=="
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
  />
  </head>
<body>
  <%- include('./common/nav') %>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Food Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Location</th>
            <th scope="col">UserID</th>
          </tr>
        </thead>
        <tbody>
        <%Fooddata.forEach(UpdateFoodData => {%>
            <tr>
                <th scope="row"><%= UpdateFoodData._id %></th>
                <td><%= UpdateFoodData.name %></td>
                <td><%= UpdateFoodData.contact %></td>
                <td><%= UpdateFoodData.type %></td>
                <td><%= UpdateFoodData.Quantity %></td>
                <td><%= UpdateFoodData.Location %></td>
                <td><%= UpdateFoodData.UserID %></td>

            </tr>
        <%})%>
        </tbody>
      </table>
</body>
</html>