<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-5hEcn7kqVtYmDc6jHgT9LzRZ/JPDLwGm1V7KyK/fLh3YgDtMbXoKG/ZLQn7+QzZO1p1hDzsv26++/YVXpYxpwg=="
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
  />
  </head>
<body>
  <%- include('./common/nav') %>
  <div class="card-deck">
    <% Fooddata.forEach(UpdateFoodData => { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= UpdateFoodData.name %></h5>
          <p class="card-text">
            ID: <%= UpdateFoodData._id %><br>
            Contact: <%= UpdateFoodData.contact %><br>
            Food Type: <%= UpdateFoodData.type %><br>
            Quantity: <%= UpdateFoodData.Quantity %><br>
            Location: <%= UpdateFoodData.Location %><br>
            UserID: <%= UpdateFoodData.UserID %>
          </p>
          <button class="btn btn-danger" onclick="deleteFoodData(<%= UpdateFoodData._id %>)">Delete</button>
        </div>
      </div>
    <% }); %>
  </div>
</body>
</html>